<!DOCTYPE html>
<html>
<head>
  <title>Aranha</title>
  <%= stylesheet_link_tag    "aranha/application", media: "all" %>
  <%= javascript_include_tag "aranha/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
